.singlePage {
  width: 100%;
  min-height: calc(100vh - 80px);
  max-height: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.singlePage .left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.singlePage .left > img {
  width: 100px;
}

.singlePage .left figure {
  width: 85%;
  height: 70%;
  max-height: 450px;
  background-color: #eee;
}

.singlePage .left figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.singlePage .left .imgs {
  height: 100px;
  background-color: #eee;
  display: flex;
  gap: 20px;
  width: 85%;
  justify-content: center;
}

.singlePage .left .imgs img {
  width: 100px;
  height: 100%;
  object-fit: cover;
}

.singlePage .right {
  background-color: #f9f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8%;
  gap: 20px;
  height: 100%;
}

.singlePage .right h2 {
  color: dodgerblue;
}

.social_icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social_icons svg {
  font-size: 25px;
  color: dodgerblue;
}

.social_icons img {
  width: 25px;
  height: 25px;
}

.social_icons svg:nth-child(3) {
  color: #415ca0;
}

.singlePage .right .desc {
  line-height: 130%;
  color: #707070;
}

.singlePage .right p span {
  color: dodgerblue;
  /* font-size: 30px; */
  font-weight: bold;
}

@media screen and (max-width: 920px) {
  .singlePage .right {
    padding-left: 10px;
  }

  .singlePage .right iframe {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .singlePage {
    padding: 10px;
    grid-template-columns: repeat(1, 90%);
    gap: 20px;
    height: fit-content;
    max-height: fit-content;
  }

  .singlePage .left {
    height: auto;
    padding: 10px;
  }

  .singlePage .left figure {
    width: 100%;
    height: 300px;
  }

  .singlePage .left .imgs {
    width: 100%;
  }
  .singlePage .right {
    padding: 20px;
  }
}
